.main-header{
	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100vw;
	height: 6vh;
	top: 0;
	padding: 0 10vw;
    background-image:
		linear-gradient(
		45deg, 
		#F6C954, #EA5555
		);
	z-index: 1;
	a{
		text-decoration: none;
		color: #fff;
		text-transform: uppercase;
	}
	.nav-links {
		display: flex;
		list-style: none;
		transition: 
			opacity .4s ease-in-out
			transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			&:nth-of-type(2){
				transition-delay: .1s;
			}
			&:nth-of-type(2){
				transition-delay: .2s;
			}
			&:nth-of-type(2){
				transition-delay: .3s;
			}
			&:nth-of-type(2){
				transition-delay: .4s;
			}
		
		.nav-link{
			a{
				margin: .2rem;
				padding: 1rem .5rem;
			}
			a:hover{
				color: white;
				border-radius: 10px;
			}
		}
	}
	.menu-icon{
		position: relative;
		padding: 26px 10px;
		cursor: pointer;
		z-index: 1;
		display: none;
		&__line{
			display: block;
			position: relative;
			background: #FF3030;
			height: 2px;
			width: 20px;
			border-radius: 4px;
			transition: background .2s ease;
			&::after, &::before{
				content: '';
				height: 100%;
				width: 100%;
				border-radius: 4px;
				background: #FF3030;
				position: absolute;
				transition: background .1s ease;
			}
			&::before{
				transform: translateY(-5px);
				width: 100%;
			}
			&::after{
				transform: translateY(5px);
				width: 100%;
			}
		}
	}
	.menu-btn{
		display: none;
	}
	&.scrolled{
		color: #fff;
		.menu-btn{
			&__line, &__line::after, &__line::before{
				background-color: #fff;
			}
		}
	}
}