.hero{
	height: 100vh;
	background-color: #ffff;
	display: flex;
	justify-content:space-between;
	align-items:center;
	flex-direction: row;
	color: #fff;
	.text-hero{
		height: auto;
		width: 100%;
		font-size: 1rem;
		color: BLACK;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 2rem;
		h1{
			font-size: 2rem;
			border-bottom: 3px solid;
			border-image-slice: 1;
			border-image-source: linear-gradient(to left, #F6C954, #EA5555);
			.my-doctor-text{
				font-size: 3rem;
				background: -webkit-linear-gradient(45deg, #F6C954, #EA5555);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				display: inline-block;
			}
		}
		
		

	}
	.icon-hero{
		height: auto;
		width: 100%; 
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 100%;
		}
	}
}