@import url("https://fonts.googleapis.com/css2?family=raleway&display=swap");
.hero {
  height: 100vh;
  background-color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.hero .text-hero {
  height: auto;
  width: 100%;
  font-size: 1rem;
  color: BLACK;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.hero .text-hero h1 {
  font-size: 2rem;
  border-bottom: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #F6C954, #EA5555);
}

.hero .text-hero h1 .my-doctor-text {
  font-size: 3rem;
  background: -webkit-linear-gradient(45deg, #F6C954, #EA5555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.hero .icon-hero {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .icon-hero img {
  width: 100%;
}

.main-header {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 6vh;
  top: 0;
  padding: 0 10vw;
  background-image: linear-gradient(45deg, #F6C954, #EA5555);
  z-index: 1;
}

.main-header a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.main-header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-transition: opacity 0.4s ease-in-out transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 0.4s ease-in-out transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.main-header .nav-links:nth-of-type(2) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.main-header .nav-links:nth-of-type(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.main-header .nav-links:nth-of-type(2) {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.main-header .nav-links:nth-of-type(2) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.main-header .nav-links .nav-link a {
  margin: .2rem;
  padding: 1rem .5rem;
}

.main-header .nav-links .nav-link a:hover {
  color: white;
  border-radius: 10px;
}

.main-header .menu-icon {
  position: relative;
  padding: 26px 10px;
  cursor: pointer;
  z-index: 1;
  display: none;
}

.main-header .menu-icon__line {
  display: block;
  position: relative;
  background: #FF3030;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.main-header .menu-icon__line::after, .main-header .menu-icon__line::before {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #FF3030;
  position: absolute;
  -webkit-transition: background .1s ease;
  transition: background .1s ease;
}

.main-header .menu-icon__line::before {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  width: 100%;
}

.main-header .menu-icon__line::after {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  width: 100%;
}

.main-header .menu-btn {
  display: none;
}

.main-header.scrolled {
  color: #fff;
}

.main-header.scrolled .menu-btn__line, .main-header.scrolled .menu-btn__line::after, .main-header.scrolled .menu-btn__line::before {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .main-header .menu-icon {
    display: block;
  }
  .main-header .menu-icon__line {
    background-color: #fff;
    -webkit-animation: closedMid 0.8s forwards;
            animation: closedMid 0.8s forwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::before {
    background-color: #fff;
    -webkit-animation: closedTop 0.8s backwards;
            animation: closedTop 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .menu-icon__line::after {
    background-color: #fff;
    -webkit-animation: closedBtm 0.8s backwards;
            animation: closedBtm 0.8s backwards;
    animation-direction: reverse;
  }
  .main-header .nav-links {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10rem 0;
    width: 100vw;
    height: 100vh;
    font-size: 2rem;
    color: #fff;
    font-size: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-clip-path: circle(0px at top right);
            clip-path: circle(0px at top right);
    background-color: rgba(255, 48, 48, 0.75);
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
    -webkit-transition: opacity .4s .5s, -webkit-clip-path 0.3s .2s;
    transition: opacity .4s .5s, -webkit-clip-path 0.3s .2s;
    transition: opacity .4s .5s, clip-path 0.3s .2s;
    transition: opacity .4s .5s, clip-path 0.3s .2s, -webkit-clip-path 0.3s .2s;
  }
  .main-header .nav-links .nav-link {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    text-align: center;
    font-size: 1rem;
  }
  .main-header .nav-links .nav-link a {
    display: block;
    padding: 2rem 0;
  }
  .main-header .nav-links .nav-link:nth-of-type(1) {
    -webkit-transition-delay: 0.2s;
            transition-delay: 0.2s;
  }
  .main-header .nav-links .nav-link:nth-of-type(2) {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .main-header .nav-links .nav-link:nth-of-type(3) {
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
  }
  .main-header .nav-links .nav-link:nth-of-type(4) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  .main-header .menu-btn:checked ~ .nav-links {
    opacity: 1;
    -webkit-clip-path: circle(100% at center);
            clip-path: circle(100% at center);
  }
  .main-header .menu-btn:checked ~ .nav-links .nav-link {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    -webkit-transform: 0.2s cubic-bezie(0.175, 0.885, 1.275) 0.2s;
            transform: 0.2s cubic-bezie(0.175, 0.885, 1.275) 0.2s;
  }
  .main-header .menu-btn:checked ~ .menu-icon {
    border-radius: 50%;
    -webkit-animation: pulse 0.2;
            animation: pulse 0.2;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line {
    background-color: #fff;
    -webkit-animation: openMid 0.2s forwards;
            animation: openMid 0.2s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::before {
    background-color: #fff;
    -webkit-animation: openTop 0.2s forwards;
            animation: openTop 0.2s forwards;
  }
  .main-header .menu-btn:checked ~ .menu-icon .menu-icon__line::after {
    background-color: #fff;
    -webkit-animation: openBtm 0.2s forwards;
            animation: openBtm 0.2s forwards;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-text {
    font-size: 1rem;
  }
  .hero .hero-text h1 {
    font-size: 1rem;
  }
  .hero .hero-text h1 span {
    font-size: 2rem;
  }
  .con-aboutus {
    width: 100% !important;
    padding: 0 !important;
  }
  .con-aboutus .aboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto !important;
  }
  .con-aboutus .aboutus .whoweare {
    display: block !important;
  }
  .con-aboutus .aboutus .vision {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: 0;
  }
  .con-aboutus .aboutus .vision .vision-des {
    width: 100%;
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .con-aboutus .aboutus .vision .vision-des h1 {
    font-size: 2rem;
    text-transform: capitalize;
  }
  .con-aboutus .aboutus .vision .vision-des ul {
    width: 100%;
    font-size: 1rem;
  }
  .con-aboutus .aboutus .vision .vision-icon {
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .con-aboutus .aboutus .vision .vision-icon img {
    width: 100% !important;
  }
  .con-aboutus .aboutus .mission {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding: none;
  }
  .con-aboutus .aboutus .mission .mission-des {
    width: 100%;
    -ms-flex-item-align: end !important;
        align-self: flex-end !important;
  }
  .con-aboutus .aboutus .mission .mission-des h1 {
    font-size: 2rem;
  }
  .con-aboutus .aboutus .mission .mission-des ul {
    width: 100%;
    background-color: #FF3030;
    padding: 1rem;
    color: #fff;
    border-radius: 20px;
    font-size: 1rem;
  }
  .con-aboutus .aboutus .mission .mission-icon {
    -ms-flex-item-align: start !important;
        align-self: flex-start !important;
  }
  .con-aboutus .aboutus .mission .mission-icon img {
    width: 100% !important;
  }
  .con-team {
    width: 100% !important;
    height: auto !important;
  }
  .con-team .our-team {
    padding: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .con-team .our-team h1 {
    display: block;
    margin: 0 !important;
  }
  .con-team .our-team .members {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .con-team .our-team .members div.member.member1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .con-team .our-team .members .member {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin: 0 !important;
  }
  .con-team .our-team .members .member .member-info {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    padding-bottom: 1rem !important;
  }
  .con-team .our-team .members .member .member-info h3 {
    width: 100% !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    font-size: 1rem !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .con-team .our-team .members .member .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem;
  }
  .con-team .our-team .members .member .img img {
    width: 100px !important;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
  }
}

@-webkit-keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes openMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes openBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedTop {
  0% {
    -webkit-transform: translateY(-5px) rotate(0deg);
            transform: translateY(-5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@-webkit-keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes closedMid {
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

@keyframes closedBtm {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
            transform: translateY(5px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(0px) rotate(90deg);
            transform: translateY(0px) rotate(90deg);
  }
}

.con-aboutus {
  background: url("/assets/cover-aboutus.jpg") no-repeat center center/cover;
  height: auto !important;
  padding: 2rem;
  width: 100% !important;
  margin: 0 !important;
  display: block;
}

.con-aboutus .aboutus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: auto;
  background: rgba(247, 243, 243, 0.7);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
  border-radius: 10px;
  padding: 2rem;
}

.con-aboutus .aboutus .whoweare {
  margin: 2rem 3rem;
  padding-left: 1vw;
  border-left: 1px solid #fff;
}

.con-aboutus .aboutus .whoweare p {
  font-size: 1rem;
}

.con-aboutus .aboutus .vision {
  padding: 1rem;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 3rem;
}

.con-aboutus .aboutus .vision .vision-des {
  width: 70%;
}

.con-aboutus .aboutus .vision .vision-des h1 {
  text-transform: capitalize;
  background: -webkit-linear-gradient(45deg, #F6C954, #EA5555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.con-aboutus .aboutus .vision .vision-des ul {
  font-size: 1rem;
  background-color: #EA5555;
  color: #fff;
  padding: 1rem;
  list-style: none;
  border-radius: 20px;
  border-left: 2px solid #F6C954;
}

.con-aboutus .aboutus .vision .vision-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #EA5555 !important;
}

.con-aboutus .aboutus .mission {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 3rem;
}

.con-aboutus .aboutus .mission .mission-des {
  width: 70%;
}

.con-aboutus .aboutus .mission .mission-des h1 {
  text-transform: capitalize;
  background: -webkit-linear-gradient(45deg, #F6C954, #EA5555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.con-aboutus .aboutus .mission .mission-des ul {
  font-size: 1rem;
  background-color: #EA5555;
  color: #fff;
  padding: 1rem;
  list-style: none;
  border-radius: 20px;
  border-left: 3px solid #F6C954;
}

.con-aboutus .aboutus .mission .mission-icon {
  width: 20vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.con-aboutus .aboutus .mission .mission-icon img {
  width: 100%;
}

.con-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.con-team .our-team {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 6px solid transparent;
  -o-border-image: linear-gradient(to right, #F6C954, #EA5555);
     border-image: -webkit-gradient(linear, left top, right top, from(#F6C954), to(#EA5555));
     border-image: linear-gradient(to right, #F6C954, #EA5555);
  border-image-slice: 1;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: rgba(247, 243, 243, 0.1);
  -webkit-backdrop-filter: saturate(180%) blur(10px);
          backdrop-filter: saturate(180%) blur(10px);
}

.con-team .our-team h1 {
  margin-bottom: 3rem;
}

.con-team .our-team .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.con-team .our-team .members .member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.con-team .our-team .members .member .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.con-team .our-team .members .member .img img {
  width: 10vw;
  height: auto;
  border-radius: 50px;
}

.con-team .our-team .members .member .member-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 20vw;
  padding-left: 1rem;
}

.con-team .our-team .members .member .member-info h3 {
  font-size: 2rem;
}

.con-team .our-team .members .member .member-info h3 .emphasized {
  background: -webkit-linear-gradient(45deg, #F6C954, #EA5555);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.con-team .our-team .members .member .member-info h3 .surname {
  padding: 2px;
  color: #fff;
  background-color: #EA5555;
}

.con-team .our-team .members .member .member-info p {
  margin: 1px;
  font-size: 1rem;
  border-bottom: #EA5555 1px solid;
}

footer .footer {
  height: 5vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, #F6C954, #EA5555);
}

footer .footer h1 {
  color: #fff;
  font-size: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  height: 100vh;
  width: 80%;
  margin: 2rem auto;
}

.container p {
  font-size: 1.5rem;
  margin: 1rem;
}

body::-webkit-scrollbar {
  width: .4em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #EA5555;
  outline: 1px solid slategrey;
}
/*# sourceMappingURL=main.css.map */